html {
  box-sizing: border-box;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.head {
  margin: 0 auto 0 auto;
  margin-top: 0;
  background-color: #f0f5fb;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  margin: 60px 0px 1px -20px;
}
.menu__item {
  margin-left: 50px;
  cursor: pointer;
}

.clock {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.phone {
  margin: 58px 20px 0px 80px;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  position: relative;
}

.phone::before {
  left: -50px;
  bottom: -25px;
  content: url(../images/phone.png);
  display: flex;
  position: absolute;
}

.vegitable__title {
  margin-top: 50px;
  text-align: center;
}
.vegitable__text {
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
}

.pizza {
  margin: 0 auto;
  display: flex;
  margin-top: 60px;
}

.popup-info {
  height: 500px;
  position: absolute;
  max-width: 500px;
  background-color: rgba(66, 140, 81, 0.678);
  border-radius: 20px;
  padding: 30px;
  display: none;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: showBlock 0.5s linear forwards;
}
.popup-info__title {
  text-align: center;
}
.popup-info__btn {
  border: none;
  padding: 10px 40px;
  background-color: #2c2c8c;
  border-radius: 10px;
  color: white;
}

.popup-active {
  display: block;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.products {
  max-width: 1200px;
}
.cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 40px;
  max-width: 260px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  max-width: 1440px;
  margin: 0 auto;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}