.head {
    margin: 0 auto 0 auto;
    margin-top: 0;
    background-color: #f0f5fb;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    margin: 60px 0px 1px -20px;
    &__item {
        margin-left: 50px;
        cursor: pointer;
    }
}

.logo {}

.clock {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.phone {
    margin: 58px 20px 0px 80px;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    position: relative;
}

.phone::before {
    left: -50px;
    bottom: -25px;
    content: url(../images/phone.png);
    display: flex;
    position: absolute;
}

.nav {}

.vegitable {
    &__title {
        margin-top: 50px;
        text-align: center;
    }
    &__text {
        text-align: center;
        margin: 0 auto;
        max-width: 400px;
    }
}

.pizza {
    margin: 0 auto;
    display: flex;
    margin-top: 60px;
}

.popup-info {
    height: 500px;
    position: absolute;
    max-width: 500px;
    background-color: rgba(66, 140, 81, 0.678);
    border-radius: 20px;
    padding: 30px;
    display: none;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: showBlock 0.5s linear forwards;
    &__title {
        text-align: center;
    }
    &__text {}
    &__btn {
        border: none;
        padding: 10px 40px;
        background-color: #2c2c8c;
        border-radius: 10px;
        color: white;
    }
}

.popup-active {
    display: block;
}

@keyframes showBlock {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}