@import "_global";
@import "header";
@import "products";
@import "swiperContainer";
@import "footer";
html {
    position: relative;
    height: 60%;
}

.main {
    margin: 0 auto;
    font-family: sans-serif;
    position: relative;
    height: 60%;
}

li {
    list-style-type: none;
}